
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    
    <div class="row">
        <div class="col-4">
           <p>訂單編號</p>
        </div>
        <div class="col-8">
        <input type="text">
        </div>

        <div class="col-4">
            <p>客戶名稱</p>
        </div>
        <div class="col-8">
            <input type="text">
        </div>

        <div class="col-4">
            <p>負責員工</p>
        </div>
        <div class="col-8">
            <input type="text">
         </div>

        <div class="col-4">
            <p>出貨公司</p>
        </div>
        <div class="col-8">
            <input type="text">
        </div>




        <div class="row">
            <div class="col-4">
                <p>b4fu6
                </p>
            </div>
            <div class="col-4">
                <input type="text">
            </div>
            
    
    </div>
   </div>
</div>
